body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper{
  padding: 30px 10em;

  @media(max-width: 769px){
    padding: 20px
  }
}

.menu-mobile{
  display: none;
  font-size: 2rem;
  margin: auto;
  margin-right: 0;
  @media(max-width: 767px){
    display: block;
  }
}

@media(max-width: 767px){
  .topnav-content ul{
    display: none;
  }
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(green, 0.2);
  border-radius: 50%;
  border-top-color: green;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/* Nav */ 
nav{
  background-color: rgb(245, 245, 245);
  color: #666;
  border-bottom: 1px solid rgb(227, 226, 223);
  .topnav-wrapper{
    max-width: 78em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .topnav-content{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }
  img{
    width: 140px;
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  ul{
    list-style: none;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 0;
    li.li-item{
      padding: 0 14px;
      margin: auto;
    }
    li.divider{
      list-style: none;
      content: "";
      height: 30px;
      margin: 11px 0;
      display: inline-block !important;
      border-right: 1px solid #dadada;
    }
  }
}

/* Documentation */ 

.autodesk-card{
  border: 1px solid rgb(223,223,223);
  padding: 20px;
  height: 350px;
  background: #fff;
  overflow: hidden;

  .autodesk-card-body{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title{
    font-weight: 600;
    color: #444;
  }

  .card-text{
    color: #666;
  }

  .icon-Arrow-Right{
    margin: auto;
    margin-right: 0;
  }

  i{
    color: #0696d7;
  }

  a{
    color: #444;
    padding-bottom: 10px;
    &:hover{
      color: #0696d7;
    }
  }


  .link-wrapper:not(:last-of-type){
    border-bottom: 2px solid #99999930;;
  }
}

.autodesk-card:hover{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
