@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rdmvgc');
	src:url('fonts/icomoon.eot?#iefix-rdmvgc') format('embedded-opentype'),
		url('fonts/icomoon.woff?-rdmvgc') format('woff'),
		url('fonts/icomoon.ttf?-rdmvgc') format('truetype'),
		url('fonts/icomoon.svg?-rdmvgc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-Arrow-Right2:before {
	content: "\e661";
}
.icon-Dice:before {
	content: "\e80a";
}
.icon-Cloud:before {
	content: "\e78c";
}
.icon-Key-Lock:before {
	content: "\ea00";
}
.icon-Settings-Window:before {
	content: "\ec45";
}
.icon-Optimization:before {
	content: "\eb27";
}
.icon-Loading-3:before {
	content: "\ea53";
}
.icon-Align-JustifyAll:before {
	content: "\e61e";
}